---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "fonts";
@import "syntax";
@import "material";
@import "portfolio";

body {
    background: url(/images/bg.jpg) no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.mdl-layout__header-row {
    .mdl-layout-title {
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.mdl-layout__header-highlighted-row {
    background: #fff;
    color: #000;
    .mdl-navigation__link {
        color: #000;
    }
}

.icons-navigation .mdl-navigation__link {
    line-height: 64px;
}

.mdl-navigation__link--icon > .material-icons {
    line-height: inherit;
}

.page-base {
    background: #f5f5f5;
}

.page-content {
    margin-top: 20px;
}

.post-container {
    width: 100%;
    margin: 20px auto;
    flex-shrink: 0;
    box-sizing: border-box;
    max-width: 900px;

    &.narrow {
        max-width: 900px;
    }

    a {
        text-decoration: none;
    }

    .minilogo {
        width: 44px;
        height: 44px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        border-radius: 22px;
        background-color: #F5F5F5;
    }

    .mdl-card {
        padding: 0;
        box-sizing: border-box;
        align-items: stretch;
        min-height: 360px;
        flex-direction: column;
        display: flex;
        .mdl-card__media {
            height: 280px;
            box-sizing: border-box;
            background-size: cover;
            background-position: center;
            padding: 24px;
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            align-items: flex-end;
            h3 {
                margin: 0;
                text-shadow: 1px 1px 4px #000;
            }
        }

        .mdl-card__supporting-text {
            width: 100%;

            &:not(:last-child) {
                box-sizing: border-box;
                min-height: 76px;
            }

            & ~ .mdl-card__supporting-text {
                border-top: solid 1px rgba(0, 0, 0, 0.1);
            }

            strong {
                font-weight: 400;
            }
        }

        .meta {
            box-sizing: border-box;
            padding: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: auto;

            > :first-child {
                margin-right: 16px;
            }

            > * {
                display: flex;
                flex-direction: column;
            }

            & + .mdl-card__supporting-text {
                > * {
                    max-width: 512px;
                    margin: 16px auto;
                }

                h2 {
                    font-size: 30px;
                    line-height: 31px;
                }

                h3 {
                    font-size: 22px;
                    line-height: 27px;
                }

                p {
                    img {
                        max-width: 512px;
                    }
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }

        .comments {
            background: #eee;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            padding: 32px;
            box-sizing: border-box;

            > form {
                display: flex;
                flex-diretion: row;
                margin-bottom: 16px;

                .mdl-textfield {
                    flex-grow: 1;
                    margin-right: 16px;
                    color: rgb(97, 97, 97);

                    .mdl-textfield__input {
                        font-family: 'Roboto', 'Helvetica', sans-serif;
                    }

                    input, textarea {
                        resize: none;
                    }
                }

                button {
                    margin-top: 20px;
                    background-color: rgba(0, 0, 0, 0.24);
                    color: white;
                }
            }

            .comment {
                display: flex;
                flex-direction: column;
                align-items: stretch;

                > .comment__header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 16px;

                    > .comment__avatar {
                        width: 48px;
                        height: 48px;
                        border-radius: 24px;
                        margin-right: 16px;
                    }

                    > .comment__author {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                    }

                }

                > .comment__text {
                    line-heiht: 1.5em;
                }

                > .comment__actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 0.8em;
                    margin-top: 16px;

                    button {
                        margin-right: 16px;
                        color: rgba(0, 0, 0, 0.24);
                    }
                }

                > .comment__answers {
                    padding-top: 32px;
                    padding-left: 48px;
                }
            }
        }
    }
    .comments-disqus {
        margin: 0 20px;
    }
}

.post-nav {
    margin: 12px auto;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;

    > .post-nav__button {
        color: white;
        text-decoration: none;
    }

    .mdl-button {
        color: rgba(0,0,0,0.54);
        background-color: white;
    }

    > .post-nav__button {
        &:first-child .mdl-button {
            margin-right: 16px;
            margin-left: 20px;
        }

        &:last-child .mdl-button {
            margin-left: 16px;
            margin-right: 20px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.mdl-mega-footer {
    .headline {
        margin-top: 0;
    }

    .mdl-cell {
        text-align: center;
    }

    .mdl-button {
        background: #fff;
    }

    .mdl-mega-footer__bottom-section {
        text-align: center;
    }

    .mdl-mega-footer--link-list {
        &.mdl-mega-footer--left-align {
            text-align: left;
        }

        li {
            margin-bottom: 8px;
            a {
                color: #fff;
            }
        }
    }

    &:not(.full-post) {
        .mdl-card__supporting-text {
            & ~ .mdl-card__supporting-text {
                border-top: none;
            }
        }
    }
}



.buttons-list {
    display: flex;
    .mdl-button {
        margin-left: 10px;
    }
    .headline {
        margin: 0;
    }
}
