---
layout: raw
title: Blog
paginate: true
---

{% for post in paginator.posts %}
<div class="post-container narrow mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="mdl-card__media mdl-color-text--grey-50 post-hero">
                <h3>{{ post.title }}</h3>
            </div>
            <style type="text/css" nonce="**CSP_NONCE**">
                .post-hero { background-image: url({% asset_path "covers/{{ post.cover }}" %}); }
            </style>
        </a>
        <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
            {{ post.excerpt }}
        </div>
        {% include meta-bar.html post=post menu_position='top-right' %}
    </div>
</div>
{% endfor %}

<nav class="post-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
    {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="post-nav__button">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                <i class="material-icons">arrow_back</i>
            </button>
            Newer
        </a>
    {% endif %}
    <div class="section-spacer"></div>
    {% if paginator.next_page %}
        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="post-nav__button">
            Older
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                <i class="material-icons">arrow_forward</i>
            </button>
        </a>
    {% endif %}
</nav>
