<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <h5 class="headline">Open Source</h5>
      <ul class="mdl-mega-footer--link-list mdl-mega-footer--left-align" id="recent-tweets">
        <li><a href="https://opsworks-ruby.rzegocki.pl/" target="_blank">opsworks_ruby</a></li>
        <li><a href="https://github.com/ajgon/self-hosted-mailserver" target="_blank">self-hosted-mailserver</a></li>
        <li><a href="https://github.com/ajgon/lint-pack" target="_blank">LintPack</a></li>
        <li><a href="https://github.com/ajgon/chef-imagetragick" target="_blank">chef-imagetragick</a></li>
        <li><a href="https://github.com/ajgon/jquery-timer" target="_blank">jquery.timer</a></li>
      </ul>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5 class="headline">Connect</h5>
      {% for social in site.social %}
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" href="{{ social.url }}" id="connect_{{ social.icon_value }}" target="_blank">
          <i class="{{ social.icon_class }}">{{ social.icon_value }}</i>
        </a>
        <div for="connect_{{ social.icon_value }}" class="mdl-tooltip">{{ social.name }}</div>
      {% endfor %}
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5 class="headline">Contact</h5>
      <ul class="mdl-mega-footer--link-list">
        <li>
            Mail: <span class="codedirection">&#108;&#112;.&#105;&#107;&#99;&#111;&#103;&#101;&#122;&#114;@&#114;&#111;&#103;&#105;</span>
        </li>
        <li>
          Skype: <a href="skype:igor.rzegocki">igor.rzegocki</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    Copyright &copy; 2015-2018 - <a href="/v4/avatar.html">Igor Rzegocki</a> - Powered by <a href="https://bit.ly/1Fnhbjo" target="_blank">Octopress</a>.
    Previous version of the site, available <a href="/v3">here</a>.
  </div>
</footer>
