@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto-Light.woff2) format('woff2'), url(/fonts/Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/fonts/Roboto-Regular.woff2) format('woff2'), url(/fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/Roboto-Medium.woff2) format('woff2'), url(/fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/Roboto-Bold.woff2) format('woff2'), url(/fonts/Roboto-Bold.woff) format('woff');
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/material.woff2) format('woff2'), url(/fonts/material.woff) format('woff');
}

@font-face {
    font-family: 'socicon';
    src: url('/fonts/socicon.eot');
    src: url('/fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('/fonts/socicon.woff') format('woff'),
         url('/fonts/socicon.ttf') format('truetype'),
         url('/fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
    font-family: 'socicon' !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
