.isotope .isotope-item {
  transition-duration: 0.8s;
  transition-property: transform, opacity;
  z-index: 2;
}

.isotope-hidden {
  pointer-events: none;
  z-index: 1;
}

.portfolio-parent {
  margin: 0 -20px;
}

.portfolio {
  margin: 0 auto;
  padding: 5px;
  clear: right;

  .front .mdl-card__actions {
    display: flex;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
  }

  .item {
    position: relative;
    perspective: 1000;
    cursor: pointer;

    &,
    .card,
    .front,
    .back ,
    img,
    .front:after {
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
    }

    .front {
      display: flex;

      .mdl-card__ptitle {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .back {
      display: flex;
      background: #3f51b5;
      color: #fff;

      .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        color: #fff;

        > .mdl-button {
          color: #fff;
        }
      }

      .mdl-card__title {
        align-items: flex-start;
        text-align: center;
        display: block;
        color: #fff;

        > h4 {
          margin-top: 0;
        }

        h4,
        h5,
        .details {
          display: block;
          float: none;
          list-style: none;
          margin-left: 0;
          padding-left: 0;
        }

        h4 {
          font-size: 14px;
          line-height: 18px;
          margin: 0;
          display: none;
        }

        h5 {
          font-size: 12px;
          line-height: 16px;
          margin: 0 0 10px;
        }

        .details li {
          font-size: 10px;
          line-height: 14px;
          margin: 0;

          &.specs {
            font-size: 9px;
          }
        }
      }
    }

  }

  .promoted .back .mdl-card__title {
    h4 {
      display: block;
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 16px;
    }

    h5 {
      font-size: 20px;
      line-height: 20px;
      margin: 24px 0 16px;
    }

    .details li {
      font-size: 14px;
      line-height: 24px;
      margin: 0;

      &.specs {
        font-size: 14px;
      }
    }
  }

  .item {
    width: 155px;
    height: 155px;

    .card,
    .front,
    .back,
    img {
      min-height: 150px;
      width: 150px;
      height: 150px;
    }

    .card,
    .front,
    .back {
      position: absolute;
    }

    .front:after {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIHWNgkAQAABwAGi24X8EAAAAASUVORK5CYII=) repeat;
      content: ' ';
      position: absolute;
    }
  }

  .promoted {
    width: 310px;
    height: 310px;

    .front:after {
      display: none;
    }

    img {
      opacity: 1;
    }

    .card,
    .front,
    .back,
    img {
      width: 305px;
      height: 305px;
    }

  }

  .item {
    .front,
    .back {
      transform-style: preserve-3d;
      animation-duration: 0.75s;
      animation-direction: alternate;
      animation-play-state: paused;
      animation-iteration-count: 2;
    }

    .front {
      z-index: 5;
      overflow: hidden;
    }

    .back {
      z-index: 0;
      transform: rotateY(-180deg);
      backface-visibility: hidden;
    }

    .front-animating,
    .back-animating {
      animation-play-state: running;
    }

    .paused {
      animation-play-state: paused;
    }
  }

  .item:hover .front,
  .flipped .front,
  .item .front-animating {
    z-index: 5;
    animation-name: rotate-front;
  }

  .item:hover .back,
  .flipped .back,
  .item .back-animating {
    z-index: 10;
    animation-name: rotate-back;
  }
}

.mdl-grid .mdl-cell .portfolio-menu {
  height: auto;
  min-height: 0;
  padding: 24px;
}

/* Animation keyframes */
@keyframes "rotate-back" {
  from {
    transform: rotateY(-180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@-moz-keyframes rotate-back {
  from {
    transform: rotateY(-180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes "rotate-back" {
  from {
    transform: rotateY(-180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@-o-keyframes "rotate-back" {
  from {
    transform: rotateY(-180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes "rotate-front" {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@-moz-keyframes rotate-front {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes "rotate-front" {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@-o-keyframes "rotate-front" {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 1023px){
  .portfolio-header {
    display: none;
  }
}
