@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(asset_path("Roboto-Light.woff2")) format('woff2'), url(asset_path("Roboto-Light.woff")) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(asset_path("Roboto-Regular.woff2")) format('woff2'), url(asset_path("Roboto-Regular.woff")) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(asset_path("Roboto-Medium.woff2")) format('woff2'), url(asset_path("Roboto-Medium.woff")) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(asset_path("Roboto-Bold.woff2")) format('woff2'), url(asset_path("Roboto-Bold.woff")) format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(asset_path("material.woff2")) format('woff2'),
       url(asset_path("material.woff")) format('woff');
}

@font-face {
  font-family: 'socicon';
  src: url(asset_path("socicon.eot"));
  src: url(asset_path("socicon.eot?#iefix")) format('embedded-opentype'),
       url(asset_path("socicon.woff")) format('woff'),
       url(asset_path("socicon.ttf")) format('truetype'),
       url(asset_path("socicon.svg#sociconregular")) format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

.socicon {
  font-family: 'socicon' !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: 'liga';
}
